:root{
    --titoli: font-family: "Rajdhani", sans-serif;
    --testi: font-family: "Nova Square", sans-serif;
    --rosa: colore: #C67F7F;
    --rosso: darkred;
    --bianco: #ececec;
    
}



.header{ 
    background: url(./Red/media/switzerland-862870_1920.jpg);
    background-size: cover;
    background-attachment: fixed;
} 


.h1{
    margin-top: 19%;
    font-size: 200px;
    color:darkred ;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.paragraph{
    margin-top: 20%;
    font-family: var(--titoli);
    position: relative;
}

.paragraph::after{
    content: close-quote;
    color: darkred;
    font-size: 60px;
    bottom: -55px;
    position: absolute;
}

.paragraph::before{
    content: open-quote;
    color: darkred;
    font-size: 60px;
    position: absolute;
    top: -40px;
    
}


.section{
    background-image: url(./Red/media/mountains.png); 
    background-color: lightgray;
    background-position: center;
    background-size: cover;
    
}

.lista{
    padding-top: 200px;
    border-bottom: 3px solid darkred;
    position: relative;
}



.lista:before{
    border-radius: 50%;
    border: 2px solid darkred;
    background-color: #ececec;
    height: 10px;
    width: 10px;
    position: absolute;
    
    
}

.container-fluid {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
    margin-right: auto;
    margin-left: auto;
}

.row {
    
    
    --bs-gutter-x: none; 
    --bs-gutter-y: none;
}


.button{
    background-color: darkred;

}
.btn-primary {

    --bs-btn-border-color: #ececec;
    --bs-btn-hover-color: #ececec;
    --bs-btn-hover-bg: darkred;
    --bs-btn-hover-border-color: ##ececec;
    --bs-btn-active-color: #ececec;
    --bs-btn-active-bg: darkred;
    --bs-btn-active-border-color: darkred;

    
}
.btn-group-lg>.btn, .btn-lg {
    --bs-btn-border-radius: none
}

.btn-lg {
    
    --bs-btn-padding-x: 3rem;
    
}


